

.container {
  padding: 0 2rem;
  /* position: relative; */
  /* height: auto; */
}

.main {
  height: 100%; /* Look, it's not fixed anymore! */
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: auto;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logos .splet {
  height: 75px;
  margin: 0.5rem;
}
.logos .nftizer {
  max-height: 70px;
  margin: 0.5rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-bottom: 2rem;
  line-height: 1.15;
  font-size: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.title,
.description {
  text-align: center;
}

.description {
  box-sizing: border-box;
  overflow-wrap: break-word;
  /* margin: 1rem 0; */
  padding: 0 1rem;
  line-height: 1.5;
  font-size: 1rem;
  max-width: 100%;
}

.description a {
  text-decoration: underline;
}

.description span {
  color: #0070f3;
}

.description .disclaimerClassic,
.description .disclaimerError,
.description .disclaimerCorrect {
  box-sizing: none;
  margin: 0.5rem;
  padding: 10px;
 
  background-color: none;
  border-radius: 40px;
  /* max-width: 382px; */
  height: 80px;
  width: 690px;

  position: relative;

  font-size: 20px;
  line-height: 25px;
}

.disclaimerClassic {
  border: 1px solid #eaeaea;
  color: #eaeaea;
}

.disclaimerClassic span {
  font-weight: 700;
  color: #eaeaea;
}

.disclaimerClassic img,
.disclaimerError img,
.disclaimerCorrect img {
position: absolute;
left: 10px;
}

.disclaimerError {
  border: 1px solid #F33B3B;
  color: #F33B3B;
  cursor: pointer;
  /* margin: 0.5rem;
  padding: 5px 15px;
  border: 1px solid #F33B3B;
  color: #F33B3B;
  background-color: none;
  border-radius: 25px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 382px; */

  position: relative;
}

.disclaimerError span {
  text-decoration: underline;
  font-weight: 700;
  color: #F33B3B;
}

/* .disclaimerError:hover {
  border: 1px solid #0070f3;
  color: #0070f3;
} */


.disclaimerCorrect {
  border: 1px solid #0070f3;
  color: #0070f3;
  /* margin: 0.5rem;
  padding: 5px 15px;
  border: 1px solid #0070f3;
  color: #0070f3;
  background-color: none;
  border-radius: 25px;
  max-width: 382px;

  position: relative; */
}

.button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;

  padding: 15px 20px;

  border: 1px solid #FFF;
  color: #111;
  background-color: #FFF;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

  .button:hover,
  .button:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  .button:focus {
     color: #111;
    background-color: #0070f3;
    border-color: #0070f3;
  }



.image {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  margin: 1rem;
  /* padding: 1.5rem;
  text-align: left;  */
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  overflow: hidden;

}

.card .header {
  width: 100%;
  height: 300px;
}

.card .content {
  padding: 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 280px;
}

.card .content span {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;

  color: #AAAAAA;
}

.card .content h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;

  margin: 0.5rem 0;
}

.card .content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;

  color: #AAAAAA;
  margin-bottom: 1rem;
}

.card div.button {
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
}



.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

footer .logo {
  margin-left: 0.5rem;
}
footer .logo img {
  height: 20px;
}

@media (max-width: 800px) {
  .description .disclaimerClassic,
  .description .disclaimerError,
  .description .disclaimerCorrect {
  min-height: 80px;
  height: 100%;
  width: 100%;
  text-align: start;
  padding: 10px 40px 10px 80px;

}

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .logos {
    display: flex;
    flex-direction: column;
  }
  .nftizer {
    width: 300px;
  }

  .description .disclaimerClassic,
  .description .disclaimerError,
  .description .disclaimerCorrect {
    padding: 10px 20px 10px 40px;
  }

  .disclaimerClassic img,
  .disclaimerCorrect img,
  .disclaimerError img {
    height: 15px;
    width: 15px;

    top: 15px;
    left: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  /* .logo img {
    filter: invert(1);
  } */
}
